@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
.App {
    /* text-align: center; */
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
}